<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список классов - Дневник Школьников</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Дневник Школьников</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./login.html">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./classes">Список классов</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Основной блок -->
<div class="container my-5 flex-grow-1">
    <h1 class="text-center">Список классов</h1>
    <ul class="list-group mt-4">
        <th:block th:each="schoolClass : ${schoolClasses}">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a th:text="${schoolClass.classGrade} + '' + ${schoolClass.classCharacter}"></a>
                </div>
                <div>
                    <a th:href="@{/schedules/{classId}(classId=${schoolClass.classId})}" class="btn btn-info btn-sm mr-2">Расписание</a>
                    <a th:href="@{/subjects/{classId}(classId=${schoolClass.classId})}" class="btn btn-secondary btn-sm">Предметы</a>
                </div>
            </li>
        </th:block>
    </ul>
</div>

<!-- Подвал -->
<footer class="bg-light text-center py-3 mt-auto">
    <p>&copy; 2024 Дневник Школьников. Все права защищены.</p>
    <p>Авторы: 8К11 Черенков А.А.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
