<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Выставление оценок</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h2 th:text="'Оценки по предмету: ' + ${subject.title}"></h2>
  <h4 th:text="'Классный руководитель: ' + ${teacherFullName}"></h4>

  <h5>Список учеников:</h5>
  <ul class="list-group mb-4">
    <th:block th:each="student : ${students}">
      <li class="list-group-item" th:text="${student.firstName} + ' ' + ${student.lastName}"></li>
    </th:block>
  </ul>

  <h5>Таблица с оценками:</h5>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Ученик</th>
      <th>Оценка</th>
      <th>Домашнее задание</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="student, iterStat : ${students}">
      <tr>
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
        <td>
          <input type="number" min="1" max="5" class="form-control"
                 th:field="*{grades[iterStat.index].value}" placeholder="Оценка (1-5)"/>
        </td>
        <td>
          <input type="text" class="form-control"
                 th:field="*{homework[iterStat.index].description}" placeholder="Введите ДЗ"/>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>


  <div class="mt-4">
    <button type="submit" class="btn btn-success">Сохранить оценки</button>
    <a th:href="@{/subjects}" class="btn btn-secondary">Назад к списку предметов</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
