<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет ученика</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Личный кабинет ученика</h1>

  <div class="card mb-4">
    <div class="card-header">
      <h5>Информация о студенте</h5>
    </div>
    <div class="card-body">
      <p><strong>ФИО:</strong> <span th:text="${student.firstName} + ' ' + ${student.secondName} + ' ' + ${student.lastName}"></span></p>
      <p><strong>Класс:</strong> <span th:text="${student.schoolClass.classGrade} + ' ' + ${student.schoolClass.classCharacter}"></span></p>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Список предметов</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Название предмета</th>
          <th>Домашнее задание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${student.schoolClass.schoolSubjects}">
          <td th:text="${subject.title}"></td>
          <td th:text="${subject.homework}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
